#bubbleButtonContainer {
  width: 300px;
  height: 300px;
  margin-top: 20px;
  margin-left: 530px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#bubbleButton {
  width: 300px;
  height: 300px;
  background-image: url('images/bubble.png');
  background-size: cover;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 150px;
  cursor: pointer;
}
.upgradeContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 150px;
}
.upgradeButton {
  width: 150px;
  height: 50px;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #333;
  border-radius: 150px;
  cursor: pointer;
}
#nailsUpgradeButton {
  background-image: url('images/nails.png');
  background-size: cover;
}
#dartsUpgradeButton {
  background-image: url('images/darts.png');
  background-size:cover;
}
#fingersUpgradeButton {
  background-image: url('images/fingers.png');
  background-size:cover;
}
.textVeryLarge {
  font-size: 30px;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#nailCostText {
  font-size: 20px;
}
#dartCostText {
  font-size: 20px;
}
#fingerCostText {
  font-size: 20px;
}
.textLarge {
  font-size: 20px;
}
.backgroundDiv {
  width: 100%;
  height: 100%;
  background-image: url('images/background.jpeg');
  background-size: cover;
  color: white;
  text-align: center;
  line-height: 200px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
.hidden {
  display: none;
}
